.circle i {
    font-size: 2em;
    color: #fb8500;
}

.slide1 {
    background: 
    95% 50% / 55% no-repeat url('../../assets/images/banner1.png');
    min-height: 550px;
}

.slideCaption {
    position: absolute;
    left: 10% !important;
    top: 35% !important;
    max-width: 400px !important;
    height: 150px;
}

.feature-text {
    position: relative;
    bottom: -30%;
    margin-bottom: 0 !important;
}

@media (max-width: 576px) {
    .slide1 {
        background-size: 100% !important;
        background-position: 50% 10% !important; 
    }
    .slideCaption {
        /* position: absolute; */
        left: 15% !important;
        top: 55% !important;
        /* max-width: 400px !important; */
    }
}

